In [16]:
# Import libraries

from citipy import citipy
import numpy as np
import pandas as pd
import gmaps

In [17]:
gkey = 'AIzaSyBib5QnZBPzqxGsbeM9suzPjXZM_pCeSVI'

In [18]:
filename = "../Part1/challenge_cities.csv"

In [19]:
city_data_df = pd.read_csv(filename)

In [20]:
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs),Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Santiago De Chuco,-8.15,-78.18,49.73,broken clouds,0.00,0.0,36,76,1.21,PE,2020-04-24 03:08:36
1,1,Cape Town,-33.93,18.42,62.01,overcast clouds,0.00,0.0,87,99,4.70,ZA,2020-04-24 03:12:11
2,2,Galich,58.38,42.35,25.99,scattered clouds,0.00,0.0,90,44,6.02,RU,2020-04-24 03:12:21
3,3,Lorengau,-2.02,147.27,84.87,light rain,1.19,0.0,72,29,5.75,PG,2020-04-24 03:12:21
4,4,Hilo,19.73,-155.09,80.60,scattered clouds,0.00,0.0,57,40,9.17,US,2020-04-24 03:12:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,540,Oktyabrsk,49.47,57.42,37.98,clear sky,0.00,0.0,65,1,12.77,KZ,2020-04-24 03:15:50
541,541,Port Hawkesbury,45.62,-61.35,37.00,overcast clouds,0.00,0.0,59,90,10.29,CA,2020-04-24 03:15:50
542,542,Leshukonskoye,64.90,45.76,20.82,overcast clouds,0.00,0.0,96,100,8.34,RU,2020-04-24 03:15:50
543,543,Belaya Gora,68.53,146.42,27.79,clear sky,0.00,0.0,94,0,1.95,RU,2020-04-24 03:15:50
544,544,Payo,-3.75,103.64,87.87,overcast clouds,0.00,0.0,59,100,1.70,ID,2020-04-24 03:15:51

In [21]:
min_temp = float(input("Enter minimum temperature preference: "))

Enter minimum temperature preference: 40

In [22]:
max_temp = float(input("Enter maximum temperature preference: "))

Enter maximum temperature preference: 80

In [23]:
raining = input("Do you want it to be raining? (yes/no)")

Do you want it to be raining? (yes/no)yes

In [24]:
snowing = input("Do you want it to be snowing? (yes/no)")

Do you want it to be snowing? (yes/no)no

In [31]:
# Narrow down cities that fit criteria
if raining == "no" and snowing == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain inches (last 3 hrs)"] == 0) &
                                         (city_data_df["Snow inches (last 3 hrs)"] == 0)]
    
elif raining == "no" and snowing == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain inches (last 3 hrs)"] == 0) &
                                         (city_data_df["Snow inches (last 3 hrs)"] > 0.0)]
    
elif raining == "yes" and snowing == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain inches (last 3 hrs)"] > 0.0) &
                                         (city_data_df["Snow inches (last 3 hrs)"] == 0)]
    
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Rain inches (last 3 hrs)"] > 0.0) &
                                         (city_data_df["Snow inches (last 3 hrs)"] > 0)]

In [32]:
filtered_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs),Humidity,Cloudiness,Wind Speed,Country,Date
9,9,Gelemso,8.82,40.52,61.83,light rain,0.18,0.0,51,100,1.14,ET,2020-04-24 03:12:24
21,21,Busselton,-33.65,115.33,69.01,light rain,0.23,0.0,52,26,12.44,AU,2020-04-24 03:12:27
22,22,Salinopolis,-0.61,-47.36,79.14,light rain,2.52,0.0,82,98,2.28,BR,2020-04-24 03:12:27
29,29,Bambous Virieux,-20.34,57.76,75.99,light rain,0.27,0.0,89,37,7.00,MU,2020-04-24 03:11:01
33,33,Souillac,-20.52,57.52,75.99,light rain,0.41,0.0,89,66,7.00,MU,2020-04-24 03:12:30
53,53,Makali,8.63,-11.67,69.96,moderate rain,3.08,0.0,88,100,4.97,SL,2020-04-24 03:12:34
60,60,Constitucion,-35.33,-72.42,57.42,moderate rain,5.02,0.0,83,100,18.14,CL,2020-04-24 03:12:36
122,122,Athabasca,54.72,-113.29,44.89,light rain,0.72,0.0,62,77,3.71,CA,2020-04-24 03:12:05
139,139,Irbil,36.19,44.01,59.00,light rain,0.19,0.0,100,6,3.36,IQ,2020-04-24 03:13:08
164,164,Lebu,-37.62,-73.65,55.40,light rain,2.24,0.0,88,100,15.05,CL,2020-04-24 03:13:15

In [33]:
filtered_cities_df.count()

City_ID                     42
City                        42
Lat                         42
Lng                         42
Max Temp                    42
Current Description         42
Rain inches (last 3 hrs)    42
Snow inches (last 3 hrs)    42
Humidity                    42
Cloudiness                  42
Wind Speed                  42
Country                     42
Date                        42
dtype: int64

In [34]:
# Drop any empty rows and make a new DataFrame.
clean_travel_cities = filtered_cities_df.dropna()
clean_travel_cities.head()

,City_ID,City,Lat,Lng,Max Temp,Current Description,Rain inches (last 3 hrs),Snow inches (last 3 hrs),Humidity,Cloudiness,Wind Speed,Country,Date
9,9,Gelemso,8.82,40.52,61.83,light rain,0.18,0.0,51,100,1.14,ET,2020-04-24 03:12:24
21,21,Busselton,-33.65,115.33,69.01,light rain,0.23,0.0,52,26,12.44,AU,2020-04-24 03:12:27
22,22,Salinopolis,-0.61,-47.36,79.14,light rain,2.52,0.0,82,98,2.28,BR,2020-04-24 03:12:27
29,29,Bambous Virieux,-20.34,57.76,75.99,light rain,0.27,0.0,89,37,7.00,MU,2020-04-24 03:11:01
33,33,Souillac,-20.52,57.52,75.99,light rain,0.41,0.0,89,66,7.00,MU,2020-04-24 03:12:30

In [36]:
clean_travel_cities.count()

City_ID                     42
City                        42
Lat                         42
Lng                         42
Max Temp                    42
Current Description         42
Rain inches (last 3 hrs)    42
Snow inches (last 3 hrs)    42
Humidity                    42
Cloudiness                  42
Wind Speed                  42
Country                     42
Date                        42
dtype: int64

In [37]:
clean_travel_cities.columns

Index(['City_ID', 'City', 'Lat', 'Lng', 'Max Temp', 'Current Description',
       'Rain inches (last 3 hrs)', 'Snow inches (last 3 hrs)', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Gelemso,ET,61.83,light rain,8.82,40.52,
21,Busselton,AU,69.01,light rain,-33.65,115.33,
22,Salinopolis,BR,79.14,light rain,-0.61,-47.36,
29,Bambous Virieux,MU,75.99,light rain,-20.34,57.76,
33,Souillac,MU,75.99,light rain,-20.52,57.52,
53,Makali,SL,69.96,moderate rain,8.63,-11.67,
60,Constitucion,CL,57.42,moderate rain,-35.33,-72.42,
122,Athabasca,CA,44.89,light rain,54.72,-113.29,
139,Irbil,IQ,59.00,light rain,36.19,44.01,
164,Lebu,CL,55.40,light rain,-37.62,-73.65,

In [41]:
import requests

# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [42]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Gelemso,ET,61.83,light rain,8.82,40.52,Kerod Hotel
21,Busselton,AU,69.01,light rain,-33.65,115.33,Observatory Guest House
22,Salinopolis,BR,79.14,light rain,-0.61,-47.36,Hotel SalinÃ³polis
29,Bambous Virieux,MU,75.99,light rain,-20.34,57.76,Casa Tia Villa
33,Souillac,MU,75.99,light rain,-20.52,57.52,Bils' Villa
53,Makali,SL,69.96,moderate rain,8.63,-11.67,
60,Constitucion,CL,57.42,moderate rain,-35.33,-72.42,Hotel Boutique Las Azucenas
122,Athabasca,CA,44.89,light rain,54.72,-113.29,Athabasca Lodge Motel
139,Irbil,IQ,59.00,light rain,36.19,44.01,Erbil International Hotel
164,Lebu,CL,55.40,light rain,-37.62,-73.65,Hostal Las Lilas

In [45]:
# Create the output File (CSV)
output_data_file = "vacation_cities.csv"
# Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [46]:
# Store csv created in part one into a DataFrame
vacation_df = pd.read_csv("vacation_cities.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Gelemso,ET,61.83,light rain,8.82,40.52,Kerod Hotel
1,21,Busselton,AU,69.01,light rain,-33.65,115.33,Observatory Guest House
2,22,Salinopolis,BR,79.14,light rain,-0.61,-47.36,Hotel SalinÃ³polis
3,29,Bambous Virieux,MU,75.99,light rain,-20.34,57.76,Casa Tia Villa
4,33,Souillac,MU,75.99,light rain,-20.52,57.52,Bils' Villa

In [47]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [48]:

# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))